body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
    
}

.first-section{
    background-image: url(images/donation7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    padding: 0%;
    
}

.first-header{
    font-size: 60px;
    margin-top: 50px;
    text-align: center;
}
.header1{
    text-align:center;
    color: white;
    width: 100%;
    position: absolute;
    top: 20%;
    line-height: 70px;
    
}
.paragrph1 {
    
    font-weight: 100;
    line-height: 30px;
    font-size: 20px;
}

.btn{
    height: 70px;
    width: 250px;
    text-decoration: none;
    padding: 25px, 45px;
    border-radius: 5px;
    background-image: linear-gradient(rgb(223, 3, 3), rgb(125, 30, 4));
    color: white;
    border: none;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
}

.paragrph2{
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
}

.second-header{
    font-size: 40px;
    margin-top: 60px;
    text-align: center;
}

.donate-ammount :hover{
    border: 1px solid blue;
}
.card1{
    display: flex;
    justify-content: center;

}
.box{
    height: 90px;
    width: 120px;
    background-color: rgb(255, 233, 233);
    text-align: center;
    border-radius: 7px;
    font-size: 30px;
    margin: 15px;
    font-size: 20px;
}

#ammount{
    border: 1px solid red;
    background-color: pink;
}
.paragrph3{
   color: red;
   font-weight: bold;
   
}


.sent-ammount{
    width: 700px;
    height: 70px;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: medium;
    margin-left: 25%;
    margin-top: 60px;
    border-bottom-color: beige;
    text-align: center;
    
}
.center{
    margin-top: 30px;
    position: static;
    text-align: center;
}
.food-icon{
    width: 50px;
}

.card2{
    width: 350px;
    height: 250px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(213, 253, 253);
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
}
.section--2{
    display: flex;
    margin-left: 90px;
    margin-right: 90px;
}
.history{
    margin-top: 150px;
    width: 100%;
    height: 70vh;
    background-color: rgb(250, 235, 237);
    display: flex;
}
.paragraph5{
    font-size: 15px;
    text-align: center;
}
.contact{
    
    
    height: 150px;
    width: 800px;
    background-color: antiquewhite;
    margin-top: 50px;
    margin-left: 260px;
    margin-right: 200px;
}
.contact-email{
    height: 25%;
    width: 400px;
    border: none;
    background-color: gainsboro;
    padding-left: 10px;
    font-weight: bold;
    margin: 0 auto;
    margin-left: 100px ;
    margin-top: 60px;
}
.subscribe{
    height: 25%;
    width: 200px;
    border: none;
    background-image: linear-gradient(rgb(223, 3, 3), rgb(125, 30, 4));
    margin-left: -5px;
    font-weight: bold;
    color: white;

}
footer{
    margin-top: 100px;
    background-color: black;
    height: 200px;
    color: rgb(165, 46, 46);
    text-align: center;
    
}
.footer-content h1 {
    padding-top: 80px;
}
.footer-content p{
    color: white;
}